/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Nunito:wght@500;700;900&display=swap");

/*==================== CSS FILES ====================*/
@import "../common/reset.css";
@import "../common/bootstrap-grid.css";

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness, alpha)*/
  --lightpink-color: hsla(335, 100%, 54%, 1);
  --orange-color: hsla(36, 96%, 57%, 1);
  --twilight-color: hsla(241, 87%, 75%, 1);
  --turquoise-color: hsla(173, 79%, 41%, 1);
  --gray-color: hsla(0, 0%, 58%, 1);

  /*Color mode HEX*/
  --textdark-color: #101828;
  --textslategray-color: #667085;
  --textlightslategray-color: #98a2b3;

  /*Buttons Colors*/

  --btn-color1: hsla(259, 63%, 59%, 1);
  --btn-color2: hsla(335, 100%, 54%, 1);
  --btn-color3: hsla(105, 84%, 46%, 1);
  --btn-color4: hsla(360, 85%, 48%, 1);
  --btn-color5: hsla(196, 100%, 46%, 1);
  --btn-color6: hsla(177, 58%, 49%, 1);

  /*Buttons Colors*/
  --bg-color1: #faf6f9;
  --bg-color2: #f9fafb;
  --bg-color3: #fff8ef;
  --bg-color4: #f6f7ff;
  --bg-color5: #f6fefe;

  /*Borders Colors*/
  --border-color1: hsla(220, 22%, 96%, 1);
  --border-color2: hsla(0, 0%, 78%, 1);

  /*========== Font and typography ==========*/
  /*1rem = 10px (look into html tag)*/
  --primary-font: "Inter", Arial, Helvetica, sans-serif;
  --secondary-font: "Nunito", Arial, Helvetica, sans-serif;
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
  position: relative;
}

.mb-5rem {
  margin-bottom: 5rem;
}

/*=============== WRAPPER ===============*/
.wrapper {
  max-width: 144rem;
  height: auto;
  margin: 0 auto;
}

.content-padding {
  padding: 0 11rem;
}

/*=============== HEADER ===============*/
.header {
  margin-top: 4rem;
}
.header__container {
  display: flex;
  justify-content: space-between;
}

.header__btns {
  width: 19rem;
  height: 4.4rem;
}

.header__login-btn {
  width: 8.3rem;
  height: 4.4rem;
  cursor: pointer;
  padding: 1rem 1.8rem;
}

.header__login-btn_text {
  color: var(--textslategray-color);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1.6rem;
  border-radius: 0.8rem;
}

.header__login-btn_text:hover {
  background-color: #f9fafb;
}

.header__signup-btn {
  width: 9.4rem;
  height: 4.4rem;
  cursor: pointer;
  padding: 1rem 1.8rem;
  background-color: var(--btn-color1);
  border: 0.1rem solid #7f56d9;
  box-shadow: 0rem 0.1rem 0.2rem rgba(16, 24, 40, 0.05);
  border-radius: 0.8rem;
}

.header__signup-btn_text {
  color: white;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1.6rem;
  white-space: nowrap;
}

.header__signup-btn_text:hover {
  background-color: #6744b2;
}

/*=============== SHOP NOW ===============*/
.shopnow {
  font-size: 10px;
}

.shopnow__content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 14.3em;
  padding-left: 16.6em;
}

.shopnow-h1 {
  position: relative;
  padding-right: 3rem;
}

.shopnow-h1_style {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 6.4em;
  color: var(--lightpink-color);
  transform: rotate(-8.72deg);
}

.shopnow-rectangle {
  position: absolute;
  transform: none;
  top: -0.5rem;
  left: -0.5rem;
}

.shopnow-h2 {
  font-family: var(--secondary-font);
  font-weight: 900;
  font-size: 6.4em;
  color: var(--orange-color);
}

.shopnow-h2_pos {
  padding-top: 4.3rem;
  padding-bottom: 5.3rem;
}

.shopnow-text {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 2em;
  color: var(--gray-color);
  padding-right: 3rem;
}

.shopnow-btn {
  width: 15.7rem;
  height: 6rem;
  cursor: pointer;
  padding: 1.6rem 2.8rem;
  background-color: var(--lightpink-color);
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

.shopnow-btn__text {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 1.8rem;
  color: white;
}

.shopnow-btn_pos {
  margin-right: 23.3rem;
}

.shopnow-btn:hover {
  background-color: hsla(335, 100%, 40%, 1);
}

.shopnow-imgs__boys {
  position: relative;
  max-width: 100%;
  height: auto;
}
/*=============== TOP PICKS ===============*/
.toppicks {
  padding-top: 23rem;
  padding-bottom: 15rem;
}

.toppicks__h2 {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--lightpink-color);
  text-align: center;
}

.toppicks__h2_pos {
  margin-bottom: 1.2rem;
}

.toppicks__h3 {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 3.6rem;
  color: var(--textdark-color);
  text-align: center;
}

.toppicks__h3_pos {
  margin-bottom: 2rem;
}

.toppicks__text {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  color: var(--textslategray-color);
  text-align: center;
  width: 76.8rem;
}

.toppicks__text_pos {
  margin-bottom: 4.8rem;
}

.toppicks__categories {
  width: 100%;
}
.toppicks__category {
  position: relative;
}

.toppicks__vector {
  position: relative;
  margin-bottom: 2.2rem;
}

.toppicks__toy {
  position: absolute;
  top: 2.8rem;
}

.toppicks__button {
  padding: 1rem 1.6rem;
  border-radius: 5.2rem;
  cursor: pointer;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 1.4rem;
  color: white;
}

.toppicks__button:hover {
  opacity: 0.8;
}

.toppicks__button_green {
  background-color: var(--btn-color3);
}

.toppicks__button_red {
  background-color: var(--btn-color4);
}

.toppicks__button_blue {
  background-color: var(--btn-color5);
}

.toppicks__button_pink {
  background-color: var(--btn-color2);
}

.toppicks__button_aqua {
  background-color: var(--btn-color6);
}

/*=============== TRENDING PRODUCTS ===============*/
.trend-prods {
  background-image: url(../../img/landing/trendprodbg.svg);
  height: 96rem;
}

.trend-prods__h2 {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 1.6rem;
  color: var(--lightpink-color);
}

.trend-prods__h2_pos {
  margin-top: 2.8rem;
  margin-bottom: 1.2rem;
}

.trend-prods__h3 {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 3.6rem;
  color: var(--textdark-color);
}

.trend-prods__h3_pos {
  margin-bottom: 2rem;
}

.trend-prods__text {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 2rem;
  line-height: 3rem;
  color: var(--textslategray-color);
  width: 76.8rem;
}

.trend-prods__btns {
  width: 37.2rem;
  padding: 0.4rem;
  border: 0.1rem solid var(--border-color1);
  background-color: var(--bg-color2);
}

.trend-prods__btn {
  padding: 0.8rem 1.2rem;
  border-radius: 0.6rem;
  cursor: pointer;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1.4rem;
}

.trend-prods__btn_active {
  background-color: var(--btn-color5);
  box-shadow: 0rem 0.1rem 0.3rem rgba(16, 24, 40, 0.1),
    0rem 0.1rem 0.2rem rgba(16, 24, 40, 0.06);
  color: white;
}

.trend-prods__btn_nonactive {
  color: var(--textslategray-color);
}

.trend-prods__btn_nonactive:hover {
  background-color: hsla(196, 100%, 48%, 1);
  box-shadow: 0rem 0.1rem 0.3rem rgba(16, 24, 40, 0.1),
    0rem 0.1rem 0.2rem rgba(16, 24, 40, 0.06);
  color: white;
}

.trend-prods__sale-prod {
  width: 28.9rem;
  height: 35.2rem;
  border: 0.1rem solid var(--border-color2);
  border-radius: 0.8rem;
  background-color: #fff;
}

.trend-prods__sale-prod:hover {
  outline: #cdcdcd solid;
}

.trend-prods__imgbox {
  padding: 2rem;
}

.trend-prods__toy-content {
  width: 28.9rem;
  height: 9.6rem;
  border: 0.1rem solid var(--border-color2);
  border-bottom: none;
  border-radius: 0.8rem;
  background-color: var(--bg-color1);
}

.trend-prods__toy-heading {
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 2rem;
  color: var(--lightpink-color);
}

.trendprods__toy-text {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1.4rem;
  color: black;
}

/*=============== OUR OFFER ===============*/
.our-offer {
  background-image: url(../../img/landing/ourofferbg.svg);
  width: 100%;
  height: 73.6rem;
  height: auto;
}

.our-offer__container {
  padding-top: 5.7rem;
  padding-bottom: 12.6rem;
}

.our-offer__heading {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 2.4rem;
  color: var(--lightpink-color);
  text-align: center;
  margin-bottom: 5rem;
}

.our-offer__bear-img {
  width: 52rem;
}

.our-offer__menus {
  margin-left: 9.6rem;
  height: 100%;
}

.our-offer__menu {
  width: 46.7rem;
  height: 12.3rem;
  padding: 2rem;
}

.our-offer__menu_orange {
  color: var(--orange-color);
  background-color: var(--bg-color3);
  border: 0.1rem dashed var(--orange-color);
  border-radius: 0.8rem;
}

.our-offer__menu_twilight {
  color: var(--twilight-color);
  background-color: var(--bg-color4);
  border: 0.1rem dashed var(--twilight-color);
  border-radius: 0.8rem;
}

.our-offer__menu_turquoise {
  color: var(--turquoise-color);
  background-color: var(--bg-color5);
  border: 0.1rem dashed var(--turquoise-color);
  border-radius: 0.8rem;
}

.our-offer__menu-img {
  width: 7.1rem;
  height: 7.1rem;
  margin-right: 1.7rem;
}

.our-offer__menu-h2 {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 2.4rem;
}

.our-offer__menu-content {
  height: 5.8rem;
}

.our-offer__menu-text {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--gray-color);
}

/*=============== FOOTER ===============*/
.footer {
  background: url(../../img/landing/footerbg.png) no-repeat;
  width: 100%;
  height: auto;
  background-position: center;
  background-position: 100% 0%;
}

.footer__container {
  padding-top: 10.2rem;
  margin-left: 10rem;
}

.footer__logo {
  width: 25.1rem;
  height: 13.5rem;
  width: auto;
  height: auto;
}

.footer__menus {
  width: 64rem;
  height: 24rem;
}

.footer__menu {
  row-gap: 1.6rem;
  width: 19.2rem;
  display: flex;
  flex-direction: column;
}

.footer__title {
  font-family: var(--primary-font);
  font-weight: 600;
  font-size: 1.4rem;
  color: var(--textlightslategray-color);
}

.footer__link {
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--textslategray-color);
  display: inline-flex;
}

.footer__link a:hover {
  text-decoration: underline;
}

.note-new {
  background-color: #ecfdf3;
  border-radius: 1.6rem;
  padding: 0.2rem 0.8rem;
  color: #027a48;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
  text-decoration: none;
  margin-left: 1rem;
}

.footer__text {
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 1.6rem;
  color: var(--textlightslategray-color);
  line-break: normal;
}

.footer__text_pos {
  padding-top: 11.4rem;
  padding-bottom: 2rem;
  margin-right: 13rem;
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .header {
    margin-top: 2rem;
  }
  .content-padding {
    padding: 0 2rem;
  }
  .shopnow {
    font-size: 6px;
  }
  .shopnow__content {
    padding-top: 4em;
    padding-left: 6.6em;
    padding-right: 2em;
  }
}

/* `lg` applies to medium devices (tablets, less than 1200px) */
@media (max-width: 1199.98px) {
  .shopnow-btn_pos {
    margin-right: 0rem;
  }
}
