<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Notification Settings</title>
    <link rel="stylesheet" href="./NotificationSettings.css" />
  </head>
  <body>
    <div class="notif-box">
      <h2 class="notif-box__header">Notification Settings</h2>
      <hr class="notif-box__hr-light" />
      <div class="notif-box__parameters">
        <div class="notif-box__parameter">
          <p class="notif-box__name">General email notifications</p>
          <label class="notif-box__switch">
            <input type="checkbox" />
            <span class="notif-box__slider_round"></span>
          </label>
        </div>
        <hr class="notif-box__hr" />
        <div class="notif-box__parameter">
          <p class="notif-box__name">
            Emails for every new user joining in team
          </p>
          <label class="notif-box__switch">
            <input type="checkbox" />
            <span class="notif-box__slider_round"></span>
          </label>
          <p class="notif-box_describ">
            When someone joined to your team, You’ll get notified
          </p>
        </div>
        <hr class="notif-box__hr" />
        <div class="notif-box__parameter">
          <p class="notif-box__name">
            Emails for UI kit buying from superpage
          </p>
          <label class="notif-box__switch">
            <input type="checkbox" />
            <span class="notif-box__slider_round"></span>
          </label>
          <p class="notif-box_describ">
            When someone purchase your UI kit, You’ll get notified
          </p>
        </div>
        <hr class="notif-box__hr" />
        <div class="notif-box__parameter">
          <p class="notif-box__name">
            Emails for every time new UI kit launched
          </p>
          <label class="notif-box__switch">
            <input type="checkbox" />
            <span class="notif-box__slider_round"></span>
          </label>
          <p class="notif-box_describ">
            When new UI kit is launched, You’ll get notified
          </p>
        </div>
        <hr class="notif-box__hr" />
        <div class="notif-box__parameter">
          <p class="notif-box__name">Emails for weekly report</p>
          <label class="notif-box__switch">
            <input type="checkbox" />
            <span class="notif-box__slider_round"></span>
          </label>
          <p class="notif-box_describ">
            Every week you’ll get report for your account
          </p>
        </div>
        <hr class="notif-box__hr" />
        <div class="notif-box__parameter">
          <p class="notif-box__name">Emails for every new message</p>
          <label class="notif-box__switch">
            <input type="checkbox" />
            <span class="notif-box__slider_round"></span>
          </label>
          <p class="notif-box_describ">
            When person send you message in superpage
          </p>
        </div>
        <hr class="notif-box__hr" />
      </div>
      <div class="notif-box__btns">
        <button class="notif-box__btn notif-box__btn_dark">
          <img src="../../assets/icons/check.svg" alt=">" />
          Save changes
        </button>
        <button class="notif-box__btn notif-box__btn_light">
          Cancel
        </button>
      </div>
    </div>
  </body>
</html>
