<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--==================== CSS ====================-->
    <link
      rel="stylesheet"
      href="../assets/css/components/emailtelconfirmation.css"
    />
    <title>Email and Telephone</title>
  </head>
  <body>
    <div class="em-tel-conf">
      <!--==================== HEADER ====================-->
      <header>
        <div class="em-tel-conf__header">
          <h2 class="em-tel-conf__h_bold">Email and Phone Details</h2>
          <span class="em-tel-conf__hr"></span>
        </div>
      </header>
      <!--==================== MAIN ====================-->
      <main>
        <div class="em-tel-conf__content">
          <div class="em-tel-conf__email">
            <h3 class="em-tel-conf__h_med">Email Address</h3>
            <form action="#" class="em-tel-conf__form"></form>
          </div>
          <div class="em-tel-conf__tel"></div>
        </div>
      </main>
    </div>
  </body>
</html>
