<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tasks</title>
    <link
      rel="stylesheet"
      href="../assets/css/components/tasks.css"
    />
  </head>
  <body>
    <div class="tasks-box">
      <div class="tasks-box__header">
        <div class="tasks-box__text">
          <h2 class="tasks-box__title">Tasks Priorities</h2>
          <p class="tasks-box__describ">
            Team tasks sorted by priority
          </p>
        </div>
        <button class="notif-box__btn notif-box__btn_pink">
          <img
            class="box__btn_icon"
            src="../assets/img/components/plus.svg"
            alt=">"
          />
          Tasks
        </button>
      </div>
      <div class="tasks-box__tabs">
        <button class="notif-box__btn notif-box__btn_active">
          Upcoming
        </button>
        <button class="notif-box__btn notif-box__btn_transp">
          Overdue
        </button>
        <button class="notif-box__btn notif-box__btn_transp">
          Completed
        </button>
      </div>
      <div class="tasks-box__tasks">
        <div class="tasks-box__task">
          <label class="tasks-box__checkbox">
            <input type="checkbox" />
            <span class="checkmark"></span>
          </label>
          <h class="tasks-box__task-name"
            >Complete UX for new landing page</h
          >
          <img
            src="../assets/img/components/dots.svg"
            alt="..."
            class="tasks-box__dots"
          />
        </div>
        <div class="tasks-box__task-tags">
          <div class="date">
            <img
              class="date__img"
              src="../assets/img/components/date.svg"
              alt="cal"
              height="14px"
            />
            <p class="date__text">30 Aug 2022 - 11:30AM</p>
          </div>
          <div class="tag">
            <img
              class="tag__img"
              src="../assets/img/components/tag.svg"
              alt="#"
              height="14px"
            />
            <p class="date__text">UX</p>
          </div>
        </div>
        <div class="tasks-box__task">
          <label class="tasks-box__checkbox">
            <input type="checkbox" />
            <span class="checkmark"></span>
          </label>
          <h class="tasks-box__task-name"
            >Hire Web3 Developer to finish web3 related functi...</h
          >
          <img
            src="../assets/img/components/dots.svg"
            alt="..."
            class="tasks-box__dots"
          />
        </div>
        <div class="tasks-box__task-tags">
          <div class="date">
            <img
              class="date__img"
              src="../assets/img/components/date.svg"
              alt="cal"
              height="14px"
            />
            <p class="date__text">25 Aug 2022 - 11:30AM</p>
          </div>
          <div class="tag">
            <img
              class="tag__img"
              src="../assets/img/components/tag.svg"
              alt="#"
              height="14px"
            />
            <p class="date__text">No tag</p>
          </div>
        </div>
        <div class="tasks-box__task">
          <label class="tasks-box__checkbox">
            <input type="checkbox" />
            <span class="checkmark"></span>
          </label>
          <h class="tasks-box__task-name"
            >Zoom call with developers team, finalize features
            fo...</h
          >
          <img
            src="../assets/img/components/dots.svg"
            alt="..."
            class="tasks-box__dots"
          />
        </div>
        <div class="tasks-box__task-tags">
          <div class="date">
            <img
              class="date__img"
              src="../assets/img/components/date.svg"
              alt="cal"
              height="14px"
            />
            <p class="date__text">25 Aug 2022 - 10AM</p>
          </div>
          <div class="tag">
            <img
              class="tag__img"
              src="../assets/img/components/tag.svg"
              alt="#"
              height="14px"
            />
            <p class="date__text">Developers</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
