<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--==================== CSS ====================-->
    <link rel="stylesheet" href="./NewTasks.css" />
    <title>Task Manager</title>
  </head>
  <body>
    <div class="newtask">
      <!--==================== HEADER ====================-->
      <header class="newtask-header" id="header">
        <div class="newtask-manager">
          <h2 class="newtask-title">New Tasks (5)</h2>
          <button class="plus-btn">
            <span class="plus-btn_hor"></span>
            <span class="plus-btn_vert"></span>
          </button>
          <button class="dots-menu">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </header>
    </div>
  </body>
</html>
