<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <!--==================== CSS ====================-->
    <link rel="stylesheet" href="./NewTasks.css" />
    <title>Task Manager</title>
  </head>
  <body>
    <div class="newtask">
      <!--==================== HEADER ====================-->
      <header>
        <div class="newtask-manager mgb">
          <h2 class="newtask-title">New Tasks (5)</h2>
          <button class="plus-btn">
            <span class="plus-btn_hor"></span>
            <span class="plus-btn_vert"></span>
          </button>
          <button class="dots-menu">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </header>
      <!--==================== MAIN ====================-->
      <main>
        <div class="newtask-content">
          <label class="newtask-content__task">
            <div class="checkbox">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </div>
            <h3 class="newtask-content__label">
              Design UX research for landing page
            </h3>
            <p class="newtask-content__timeline">
              21 Oct to 24 Oct, 2022
            </p>
          </label>
          <label class="newtask-content__task">
            <div class="checkbox">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </div>
            <h3 class="newtask-content__label">
              Design UX research for landing page
            </h3>
            <p class="newtask-content__timeline">
              21 Oct to 24 Oct, 2022
            </p>
          </label>
          <label class="newtask-content__task">
            <div class="checkbox">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </div>
            <h3 class="newtask-content__label">
              Design UX research for landing page
            </h3>
            <p class="newtask-content__timeline">
              21 Oct to 24 Oct, 2022
            </p>
          </label>
        </div>
      </main>
    </div>
  </body>
</html>
