@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
@import "./btns.css";

* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  background-color: #f5f5f5;
}

.tasks-box {
  width: 500px;
  height: 440px;
  margin: 5% auto;
  padding: 20px;
  padding-top: 12px;
  background-color: #ffffff;
  border: 0.6px solid rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.04);
}

.tasks-box__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks-box__title {
  font-weight: 500;
  font-size: 1.7rem;
  line-height: 2.3rem;
  min-width: 60%;
}

.tasks-box__describ {
  margin-top: 4px;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2rem;
  color: #5c5f62;
  min-width: 60%;
}

.tasks-box__tabs {
  display: flex;
  justify-content: flex-start;
  margin-top: 16px;
}
