* {
  margin: 0;
  box-sizing: border-box;
}

.component-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50%;
  margin: 10%;
}

.component-redirect {
  text-decoration: none;
  height: 40px;
  padding: 5px;
  margin-bottom: 4px;
  font-size: 20px;
  color: black;
}

.landing-redirect {
  text-decoration: none;
  height: 40px;
  padding: 5px;
  margin-bottom: 4px;
  font-size: 28px;
  color: black;
}

.landing-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10%;
}
